<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	</script>
	<title>Home Stephane's art</title>
    <meta property="og:site_name" content="Stephane's Art"/>
    <meta property="og:type" content="website"/>
    {% block head %}
    {% endblock %}
    <meta property="og:description" content="La rencontre entre mon désire de créer un site internet et le gribouillage avec ma fille. "/>
    <meta property="fb:admins" content="1247329132" />
</head>

<body>
    <div class="langue">
    </div>
    <div class="langue">
        <span id="Fr" onclick="change_language_to_fr()" class="langue">Fr</span>/<span id="En" onclick="change_language_to_en()" class="langue">En</span>
    </div>
    <h1>Stephane's Art</h1>
    <div class="menu">
    <ul style="width:100%" class="menu">
        <li class="menu"><a href="/" class="menu">Home</a></li>
        <li class="menu"><a href="/gallery?select_tag=All" class="menu">Gallery</a></li>
        <li class="menu"><a href="/questions" class="menu">Questions</a></li>
        <li class="menu"><a href="/contact" class="menu">Contact</a></li>
        <li class="menu"><a href="/don" class="menu">Don</a></li>
    </ul><br>
    </div>
        {% block content %}
        {% endblock %}
</body>
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    function change_language_to_fr() {
        createCookie("language", "Fr");
        location.reload();
    }

    function change_language_to_en() {
        createCookie("language", "En");
        location.reload();
    }

    language = readCookie("language");
    if (language == null){
        language = "Fr";
        createCookie("language", "Fr");
    }
    if (language == "Fr") {
        document.getElementById("Fr").style.background = "Cyan";
        document.getElementById("En").style.background = "White";
    } else {
        document.getElementById("Fr").style.background = "White";
        document.getElementById("En").style.background = "Cyan";
    }
</script>
    {% block script %}
    {% endblock %}
</html>
