<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	</script>
	<title>Home Stephane's art</title>
    <meta property="og:site_name" content="Stephane's Art"/>
    <meta property="og:type" content="website"/>
    {% block head %}
    {% endblock %}
    <meta property="og:description" content="La rencontre entre mon désire de créer un site internet et le gribouillage avec ma fille. "/>
    <meta property="fb:admins" content="1247329132" />
</head>

<body>
    <h1>Stephane's Art</h1>
    <div class="menu">
    <ul style="width:100%" class="menu">
        <li class="menu"><a href="/" class="menu">Home</a></li>
        <li class="menu"><a href="/gallery?select_tag=All" class="menu">Gallery</a></li>
        <li class="menu"><a href="/questions" class="menu">Questions</a></li>
        <li class="menu"><a href="/contact" class="menu">Contact</a></li>
        <li class="menu"><a href="/don" class="menu">Don</a></li>
    </ul><br>
    </div>
    <div id="mydiv">
        {% block content %}
        {% endblock %}
    </div>
</body>
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
    {% block script %}
    {% endblock %}
</html>
