{% extends "base.html" %}

{% block content %}
<h2 class="question">Ou trouver les image en haute résolution?</h2>
<p class="reponse">A partir de n'importe quelle galerry, cliquez sur une image ce qui ouvrira une nouvelle page pour cette
    image. En cliquant de nouveau sur l'image ceci télécharge l'image directement.</p>
<h2 class="question">Pourquoi des dons?</h2>
<p class="reponse">Vendre des objects avec des impressions aurait demandé beaucoups de logistiques et un important
    investissement. En offrant la possibilité de télecharger directement les images, vous pouvez utiliser les images
    comme vous le desirez. En fonction de vos resource et de l'utilisation vous pouvez donner ce qui vous semble juste.
    Si c'est pour un font d'ecran ou imprimer une cart postale: le mniimum de 1 euro suffit, si vous utilisez plusieurs
    images ou voulez imprimer un tableaux vous pouvez dooner un peut plus. C'est surtout pour m'encourager et montrer que
    vous appreciez.</p>
<h2 class="question">Que faire avec les images?</h2>
<p class="reponse">Vous trouverez <a href="/exemple">ici</a> des exemples de projets à réaliser.</p>
<h2 class="question">Qu'est ce qui est enregistré dans le cookie pour ce site?</h2>
<p class="reponse">Le cookie limite l'affichage de la demande après le téléchargement d'une image à une seul fois par jour.</p>
<h2 class="question"></h2>
<p class="reponse"></p>
{% endblock %}