{% extends "base.html" %}

{% block head%}
 <div class="mydiv">
    <meta property="og:title" content="Stephane's Art - {{image_name}}"/>
    <meta property="og:url" content="http://www.stephane-art.fr/view_image/{{key_urlsafe}}"/>
    <meta property="og:image" content="{{image_url}}"/>
 </div>
{% endblock %}

{% block content %}
    <div class="single_picture">
    <a href="{{image_url}}=s0" download="{{image_name}}.jpg" title="{{image_name}}" onclick="displayDonationMessage()" >
        <img src="{{image_url}}=s600" class="centered" alt="{{image_name}}">
    </a>
    <div class="fb-like" data-layout="button" data-share="true" data-show-faces=false" data-href="http://www.stephane-art.fr/view_image/{{key_urlsafe}}" ></div>
    </div>
    <div class="message" id="message">
        <p>Montrez votre appreciation pour ce que vous aimez, faites un don <a href="/don">ici</a>.</p>
    </div>
{% endblock %}

{% block script %}
     <script type="text/javascript">
     function displayDonationMessage() {
        already_view = readCookie("view")
        if (already_view == null) {
            document.getElementById("message").style.display="block";
            createCookie("view", "True", 1)
        }
        }
    </script>
{% endblock %}