{% extends "base.html" %}

{% block head%}
    <meta property="og:title" content="Stephane's Art - {{image_name}}"/>
    <meta property="og:url" content="http://www.stephane-art.fr"/>
    <meta property="og:image" content="{{image_url}}"/>
{% endblock %}

{% block content %}
    <a href="/gallery?select_tag=All ">vers gallery</a><br>
    <a href="{{image_url}}=s0" download="{{image_name}}.jpg" title="{{image_name}}">
        <img src="{{image_url}}=s600" class="centered" alt="{{image_name}}">
    </a>
{% endblock %}