h1 {
    font-family: "";
    width = 100%;
    text-align: center;
    font-size: 100px;
    margin-top : 30px;
    margin-bottom : 30px;
}

body {
    width : 100%;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.contact {
    max-width : 300px;
    margin-left: auto;
    margin-right: auto;
}

p.email {
    text-align: center;
    }

p.contact {
    text-align: justify;
    }

div.menu{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    max-width:600px
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 600px
}

li.menu {
    border-radius: 10px;
    float:left;
    display: inline;
    text-align: center;
    background-color: #A7C942;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width:19%;
    }

a.menu {
    color: #ffffff;
    display: block;
    padding-left:10px;
    padding-right:10px;
}

li.menu:hover {
    background-color: fuchsia;
    }

div.right{
    float:right;
    width:10%
    min;
    }
div.left{
    float:left;
    width:90%;
    }
img.gallery{
    width:30%;
    }
div.bottom-left{
    clear:left;
    }