h1 {
    font-family: "";
    width = 100%;
    text-align: center;
    font-size: 100px;
}

body {
    width = 800px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}