body, html {
    height:100%;
    }
p {
}
h1 {
    font-family: "";
    width = 100%;
    max-height: 15%;
    text-align: center;
    font-size: 5em;
    margin-top : 30px;
    margin-bottom : 30px;
}

div.single_picture{
    height:70%;
    margin-bottom:30px;
    }

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:90%;
}

div.contact {
    max-width : 21em;
    margin-left: auto;
    margin-right: auto;
}

p.email {
    text-align: center;
    }

p.contact {
    text-align: justify;
    }

div.menu{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    max-width:42em;
    font-size:1.3em;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu {
    border-radius: 10px;
    float:left;
    display: inline;
    text-align: center;
    background-color: #A7C942;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width:19%;
    box-shadow: 5px 5px 2px grey;
    }

a.menu {
    color: #ffffff;
    display: block;
    padding-left:10px;
    padding-right:10px;
}

li.menu:hover {
    background-color: fuchsia;
    }

div.right{
    order:2;
    min-width:8em;
    font-size:1em;
    }

div.left{
    order:1;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right:5px
    }

div.gallery{
    flex-basis:14em;
    flex-grow:1;
    }

div.bottom-left{
    clear:left;
    padding-bottom:20px;
    font-size:1.3em;
    }

div.myDiv{
    display:flex;
    }

img.gallery{
    width  :14em;
    }

div.message {
    display:none;
    background:white;
    position: fixed;
    top: 50%;
    right: 25%;
    width:46%;
    padding:10px;
    border: 3px solid black;
    text-align:center;
    box-shadow: 5px 5px 2px grey;
    }

div.langue {
    position: absolute;
    right:0px;
    }

span.langue{
    padding:5px;
    margin:4px;
    border-radius:10px;
    box-shadow: 5px 5px 2px grey;
    border:1px solid black;
    }

@media all and (max-width: 700px) {
    h1{
        font-size: 3em
    }
}

@media all and (max-width: 500px) {
    div.mydiv{
        flex-direction:column;
    }
}
@media
(min-resolution: 144dpi){
    div.menu {
        font-size:2em;
        max-width:100%;
        }
    ul.menu {
        }
    div.right {
        font-size:2em;
        min-width:6em;
        }
    div.contact{
        max-width:90%;
        font-size:2em;
        }
    div.bottom-left{
    font-size:2em;
    }
    }

